/* styles.css */

/* Apply the "Inter" font */
body {
  font-family: 'Inter', sans-serif;
  background-color: #171717;
  color: #FFFFFF;
}

/* Headings */
h1, .section-header {
  color: #FFFFFF; /* White text */
  margin-top: 30px;
}

/* Accent Color */
.btn-accent {
  background-color: #e4322a;
  border-color: #e4322a;
  color: #FFFFFF;
}

.btn-accent:hover {
  background-color: #c12b22;
  border-color: #c12b22;
}

/* Buttons */
.drive-buttons, .parity-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.drive-buttons .btn, .parity-buttons .btn {
  flex: none;
  background-color: #2c2c2c;
  border: 1px solid #444;
  color: #FFFFFF;
  margin-bottom: 10px;
  border-radius: 4px;
  width: 60px; /* Fixed width */
  height: 40px; /* Fixed height */
  text-align: center;
  line-height: 28px; /* For vertical centering */
}

.drive-buttons .btn.active, .parity-buttons .btn.active {
  background-color: #e4322a; /* Accent color */
  border-color: #e4322a;
  color: #FFFFFF;
}

/* Custom Number Button */
.drive-buttons .btn.custom-number {
  width: auto; /* Dynamic width */
  padding: 0 15px;
}

/* Drive Controls */
.drive-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Inputs */
.form-control {
  background-color: #2c2c2c;
  color: #FFFFFF;
  border: 1px solid #555;
}

.form-control:focus {
  background-color: #2c2c2c;
  color: #FFFFFF;
  border-color: #e4322a;
}

input::placeholder {
  color: #aaa;
}

/* Drive Input Labels */
.drive-label {
  flex: 0 0 80px; /* Fixed width */
  margin-right: 10px;
}

/* Input and Unit */
.drive-input-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.drive-input {
  flex: 1;
}

.drive-unit {
  width: 80px; /* Fixed width */
  margin-left: 10px;
}

/* Adjust Padding */
.drive-label, .drive-input, .drive-unit {
  padding: 5px;
}

/* Results */
#results {
  font-size: 1.2rem;
  margin-top: 20px;
}

#error {
  color: #dc3545;
}

/* Spacing */
.form-group, .form-row {
  margin-bottom: 20px;
}

.container {
  max-width: 800px;
}

/* Modal Styles */
.modal-content {
  background-color: #2c2c2c;
  color: #FFFFFF;
}

.modal-header .close {
  color: #FFFFFF;
}

/* Responsive Adjustments */
@media (max-width: 576px) {
  .drive-input-group {
    flex-direction: column;
    align-items: flex-start;
  }
  .drive-unit {
    margin-left: 0;
    margin-top: 10px;
  }
  .drive-label {
    margin-bottom: 5px;
  }
  .drive-controls {
    flex-direction: column;
    align-items: flex-start;
  }
  .drive-controls .btn {
    margin-top: 10px;
  }
  .drive-buttons {
    flex-wrap: wrap;
  }
}
